* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: "Rubik", sans-serif;
}
a {
  text-decoration: none;
  display: inline-block;
}
.wrapper {
  padding: 0 2rem;
}
#summary-title {
  font-size: 18px;
  color: var(--text-price);
}
:root {
  --header-background: #3b4149;
  --search-bar-background: #cf1f9f;
  --navbar-background: #232f3e;
  --footer-color: #232f3e;
  --text-color: #bf4800;
  --button-hover: #cf1f9f;
  --homeWrapper-color: #f5f5f7;
  --border-color: #f5f5f7;
  --category-border: #ededed;
  --product-category: #bf4800;
  --text-title: #131921;
  --text-price: #1c1c1b;
  --check-box-color: #cf1f9f;
  --color-777777: #777777;
}
.error {
  color: red !important;
  font-size: 13px;
}
.total-amount {
  background-color: var(--homeWrapper-color);
  padding: 10px;
  border-radius: 10px;
  & > h3 {
    font-size: 18px;
    font-weight: 500;
    color: var(--text-price) !important;
  }
}
.border-bottom {
  border-bottom: 1px solid var(--text-price);
}
.cart-wrapper {
  background-color: white;
  box-shadow: 0 0 10px #0000001a;
  padding: 15px;
}
.button {
  background-color: var(--navbar-background);
  color: white !important;
  font-size: 14px;
  padding: 13px 33px;
  border-radius: 50px;
}
.button:hover {
  background-color: var(--button-hover);
  color: #131921;
}
.gap-10 {
  gap: 10px;
}
.gap-15 {
  gap: 15px;
}
.gap-30 {
  gap: 30px;
}
.form-control:focus {
  box-shadow: none;
  border-color: inherit;
}

.gr-12 {
  width: 100%;
}

.gr-6 {
  width: 49%;
}

.gr-4 {
  width: 32.5%;
}

.gr-3 {
  width: 24.2%;
}
.gr-6 .product-image {
  width: 100%;
}
.gr-6 .product-image img {
  margin: auto;
  display: block;
}
.gr-12 .product-card {
  display: flex;
  gap: 20px;
}
.gr-12 .product-card .product-image {
  width: 270px;
}
.gr-12 .product-card .product-image {
  height: auto !important;
}
.gr-12 .action-bar {
  top: 17% !important;
}
.colors {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 50%;
}
